apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: &app-name ss-go-worker-event
  namespace: test-a
  labels:
    app: *app-name
spec:
  retrySettings:
    maxRetries: 3
    retryInterval: "10s"
  provider:
    aws:
      service: SecretsManager
      region: us-east-2