apiVersion: v1
kind: Service
metadata:
  name: &app-name svc-go-worker-event
  namespace: test-a
  labels:
    app: *app-name
spec:
  type: ClusterIP
  ports:
  - port: 7007
    targetPort: 7007
    protocol: TCP
    name: http
  selector:
    app: go-worker-event
